.component-main{
    width: 100%;
    height: calc(100vh - 50px);
    padding: 12px 12px 12px 24px;
    box-sizing: border-box;
    #query-from{
        box-sizing: border-box;
        padding-bottom: 12px;
        .query-sub{
            width: 100px;
            display: flex;
            justify-content: space-between;
        }
    }
    .foot{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.model-footer{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    .model-btn{
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
}
